#root {
  max-width: auto;
  margin: 0 0;
  padding: 2rem;
  text-align: center;
  align-self: center;
  justify-content: center;
  display: flex;
  flex-direction: column;

  input {
			border-radius: 10px;
  }

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;

    &:hover {
      scroll-behavior: unset;
    }
  }
}

.read-the-docs {
  color: #888;
}

#Tabs {
  justify-content: center;
  margin-top: 2em;
  display: flex;
  flex-direction: row;
  justify-self: center;

  div {
    font-weight: bold;
    align-content: center;
    border: 1px black solid;
    border-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    height: 3em;
    min-width: 6em;
    background-color: lightslategray;

    &:hover {
      cursor: pointer;
    }

    &.selected {
      border-bottom: 0px;
      background-color: white !important;
      border-bottom: none;
    }
  }
}